.crew-page-parent {
    display: flex;
}

.crew-page {
    display: grid;
    color: #fff;
}

.crew-heading::before {
    content: '02';
    opacity: .25;
    font-family: "Barlow Condensed", sans-serif;
}

.crew-heading {
    grid-area: heading;
    font-family: "Barlow Condensed", sans-serif;
}

.crew-pic {
    grid-area: pic;

}

.crew-pic.deactive {
    display: none;
}

.crew-navigation {
    grid-area: nav;
}

.crew-detail.deactive {
    display: none;
}

.crew-detail {
    grid-area: detail;

    .crew-role {
        font-family: "Bellefair", serif;
        opacity: 0.5042;
    }

    .crew-name {
        font-family: "Bellefair", serif;
    }

    .crew-bio {
        font-family: "Barlow Condensed", sans-serif;
    }

}




@media (min-width:768px) {

    .crew-page-parent {
        height: calc(100dvh - 136px);
        justify-content: center;
        align-items: flex-end;
    }


    .crew-page {
        width: 100%;
        padding-left: 166.5px;
        max-height: 712px;
        grid-template-rows: repeat(3, auto);
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 'heading pic'
            'detail pic'
            'nav pic';
    }

    .crew-heading::before {
        font-size: 28px;
        letter-spacing: 4.72px;
        font-weight: bold;
        padding-right: 16px;
    }

    .crew-heading {
        font-size: 1.75em;
        letter-spacing: 4.72px;
        font-weight: normal;
        padding-top: 14px;
    }

    .crew-pic {
        justify-self: center;
        align-self: flex-end;
        height: calc(100dvh - 8.75em);
        max-height: 712px;
        overflow: hidden;
        display: flex;
        align-items: flex-end;
        width: 100%;
        max-width: 615px;


        .img {
            width: 100%;
            max-width: 615px;
            height: 100%;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center bottom;
        }
    }

    .crew-detail {
        height: 22.575em;

        .crew-role {
            font-size: 2em;
            font-weight: normal;
        }

        .crew-name {
            font-size: 3.5em;
            font-weight: normal;
            padding: 15px 0 27px;
        }

        .crew-bio {
            font-size: 1.125em;
            font-weight: lighter;
            line-height: 2em;
            max-width: 27.75em;
        }
    }

}

@media (min-width:441px) and (max-width:768px) {

    .crew-page {
        width: 100%;
        padding-left: 39px;
        grid-template-rows: repeat(4, auto);
        grid-template-columns: 1fr;
        grid-template-areas: 'heading'
            'detail'
            'nav'
            'pic';

    }

    .crew-heading::before {
        font-size: 20px;
        letter-spacing: 3.38px;
        font-weight: bold;
        padding-right: 16px;
    }

    .crew-heading {
        font-size: 20px;
        letter-spacing: 3.38px;
        font-weight: normal;
        padding: 40px 0 60px 0;
        justify-self: start;
    }

    .crew-pic {
        justify-self: center;
        align-self: flex-end;
        height: 456.37px;
        width: 100%;

        .img {
            height: 100%;
            width: 100%;
            background-repeat: no-repeat;
            background-position: bottom center;
            background-size: contain;
        }
    }

    .crew-detail {
        justify-self: center;
        text-align: center;
        max-width: 458px;

        .crew-role {
            font-size: 24px;
            font-weight: normal;
        }

        .crew-name {
            font-size: 40px;
            font-weight: normal;
            padding: 8px 0 16px;
        }

        .crew-bio {
            font-size: 16px;
            font-weight: lighter;
            line-height: 28px;
            padding-bottom: 40px;
        }

    }

    .crew-navigation {
        padding-bottom: 64px;
        justify-self: center;
    }

}

@media (max-width:440px) {
    .crew-page-parent {
        padding: 0 1.5em;
        position: relative;
    }

    .crew-page {
        width: 100%;
        grid-template-rows: repeat(4, auto);
        grid-template-columns: 1fr;
        grid-template-areas: 'heading'
            'pic'
            'nav'
            'detail';
    }

    .crew-heading::before {
        font-size: 20px;
        letter-spacing: 3.38px;
        font-weight: bold;
        padding-right: 16px;
    }

    .crew-heading {
        font-size: 16px;
        letter-spacing: 2.7px;
        font-weight: normal;
        padding: 34px 0 32px;
        justify-self: center;
    }

    .crew-pic {
        justify-self: center;
        align-self: flex-end;
        height: 327px;
        width: 100%;
        position: relative;

        .img {
            width: 100%;
            height: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
        }
    }

    .crew-pic::after {
        content: '';
        width: 100%;
        height: 1px;
        left: 0;
        background-color: #383B4B;
        position: absolute;
    }

    .crew-detail {
        justify-self: center;
        text-align: center;
        max-width: 458px;

        .crew-role {
            font-size: 16px;
            font-weight: normal;
        }

        .crew-name {
            font-size: 24px;
            font-weight: normal;
            padding: 8px 0 16px;
        }

        .crew-bio {
            font-size: 15px;
            font-weight: lighter;
            line-height: 25px;
            padding-bottom: 104px;
        }

    }

    .crew-navigation {
        padding: 34px 0;
        justify-self: center;

    }

}